 .auth-wrapper {
  width: 40%;
  height: 100%;
  margin:150px auto;
  border-radius:10px;
  box-shadow: 0px 0px 5px 5px rgb(202, 202, 202);


}



.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.form-auth{
   width: 80%;
    margin-top:10px; 
    margin-right: 10%;
    margin-left: 10%; 
     align-self: center;
}
.btn-container{
  padding-left:10%;
  padding-top: 20px;
}
.btn-default{
  height: 40px;
  width: 40%;
  border-radius: 0px;
  margin: 10px;
  background-color: #167bff;
}

@media screen and (max-width: 650px){
  .auth-wrapper{
    width: 80%;
  }
}