 .blog-container{
    margin-top: 40px;
    padding: 40px;
}

.blog-grid{
    display: grid;
    max-width:1500px;
    grid-gap: 15px;
    grid-template-columns: repeat(4,1fr);


}

.blog-grid img{
    width:100%;
    margin: 0 auto;
    border: 0px solid #fff;
}

.blog-grid >div{
    display: inline-block;
}

@media (max-width:1338px) {
    .blog-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:968px){
    .blog-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 678px){
    .blog-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:300px){
    .blog-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}