.card-likes{
    margin-right:0px;
}

.card-body{
    padding: 10px ;
    padding-bottom: 0px; 
}
.card-bottom-row{
    width:100%;
    padding:0px;
    margin-bottom: -10px;
}

.read-more{
    color: #000;
    background-color:rgb(230, 230, 230);
}
.card:hover{
        transform: translateY(-2.4%);
        transition-duration: 0.4s;
}
.card{
    transition-duration: 0.4s;
}

.card-text{
    text-align:center;
    font-size: 15px;
    margin: 2px;
}
.card-title{
    margin-bottom: 1px;
}

.card-image{
    border-bottom: 1px solid #000;
}